
:root {
    --accent-color: #800000;
    --gradient-color: #f6bb73;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(90% + 0.2vw);
    width: 80%;
    max-width: 1024px;
    margin: auto;
    border: 2px solid var(--accent-color);
    line-height: 1.5;
}

/* Links */
a:hover,
a:focus {
    font-style: italic;
    color: var(--accent-color);
}

/* Headings and text */
h1, h2, h3, p, ul {
    padding: 0.25em 0;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
    color: var(--accent-color);
}
h3 {
    font-size: 105%;
}
ul {
    margin-left: 2em;
}

/* ------------------ Header ------------------ */
header {
    border-bottom: 2px solid var(--accent-color);
    background-image: linear-gradient(30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
    line-height: 1.2;
    padding: 0.5em 1em;
    overflow: hidden;
}
header h1 {
    font-size: 175%;
}
header h2 {
    font-size: 130%;
}
header h3 {
    font-size: 115%;
    font-style: italic;
    padding-bottom: 1em;
}
header img {
    float: left;
    margin: 0.5em 1em 0.5em 0;
    width: 100%;
    min-width: 40px;
    max-width: 80px;
}

/* ------------------ Main Layout ------------------ */
main {
    display: flex;
    gap: 1.5em;
    padding: 1em 0;
}
aside {
    flex-basis: 25%;
}
section {
    flex-basis: 75%;
}

/* Images */
section img {
    float: right;
    margin: 0 0 1em 1em;
    width: 100%;
    max-width: 250px;
    min-width: 100px;
    border-radius: 10px;
}
main img {
    border: 4px double var(--accent-color);
}
aside img {
    width: 100%;
    min-width: 40px;
    max-width: 75px;
}

/* Blockquote */
main blockquote {
    font-style: italic;
    padding-left: 1em;
    margin: 0.5em 0;
}


.featured {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    padding: 0.5em 0.5em 1em 0.5em;
}


.speaker h1 {
    color: var(--accent-color);
}
.speaker h2 {
    color: black;
}
.speaker p {
    padding: 0.5em 0;
}


footer {
    background-color: var(--accent-color);
    padding: 1em 0;
}
footer p {
    text-align: center;
    color: white;
}


.large {
    font-size: 125%;
}
